.nav {
  background-color: rgb(245, 91, 91);
  display: flex;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.nav a {
  margin: 5px;
  color: white;
}

.fetchedNav {
  text-decoration: none;
}
