.nav {
  background-color: rgb(245, 91, 91);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  margin: 0px;
  color: black;
  display: block;
  text-decoration: none;
  background-color: rgb(245, 91, 91);
  border-bottom: solid black 1px;
  padding: 10px;
}

.nav a:hover {
  background-color: rgb(255, 255, 255);
}

.fetchedNav {
  text-decoration: none;
}

.linksDiv {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
}

@media (max-width: 700px) {
  .nav span {
    display: show;
  }
}

@media (min-width: 700px) {
  .nav span {
    display: none;
  }
}
